<a href="https://colab.research.google.com/github/sumitjoshi77/Shop-Management-System/blob/main/Shop_management_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#Usecase-1 Load all three csv datasets in Pandas Data frames and display first 5 records.

In [2]:
customers = pd.read_csv('customers.csv', header=None)
customers.columns = ["customerno","firstname","lastname","gender","age","profession","contactno","emailid","city","state","isactive","createddata","updateddata"]

In [3]:
coloum_name = ["productno","product name","discription","isactive","createddata","updateddata"]
products = pd.read_csv('products.csv',names = coloum_name)
products.columns = coloum_name

In [9]:
coloum_name = ["transaction no","transaction date","customerno","amount","productno","spendby"]
transactions = pd.read_csv('/content/transactions.csv',names = coloum_name)
transactions.columns = coloum_name

In [4]:

print(customers.head())

   customerno firstname lastname gender  age profession  contactno  \
0           1    Leslie     Bass      F   27          B      37307
1           2      Judy    Burks      M   53          S      84759
2           3    Marsha    Doyle      F   48          B      80932
3           4    Alexis   Battle      M   27          S      71701
4           5    Martha    Combs      F   49          B      83947

                  emailid     city      state isactive          createddata  \
0  endslost@everyma1l.org   Gibson   Dellwood        Y  2017-09-21 12:38:22
1  rfleming@hotma1l.co.uk  Suwanee     Trabue        Y  2017-05-22 05:29:22
2    arethe53@ma1lbox.net    Perry  Moxadarla        Y  2017-09-03 12:11:29
3      ofcame@ma1lbox.org   Morven     Dennis        Y  2017-02-16 04:05:35
4   camedied@everyma1l.us   Ocilla  Greenwood        Y  2017-05-15 07:34:35

           updateddata
0  2017-10-18 12:12:28
1  2017-10-18 12:12:28
2  2017-10-18 12:12:28
3  2017-10-18 12:12:28
4  2017-10-18 12:12:28

In [5]:
print(products.head())

   productno product name discription isactive       createddata  \
0          1     Product1  pgqorighfa        Y  03-04-2017 07:58
1          2     Product2  lmndaaweth        Y  21-09-2017 12:38
2          3     Product3  urifeubrhh        Y  08-09-2017 10:32
3          4     Product4  rlpcjxfarp        Y  22-05-2017 05:29
4          5     Product5  hzcpozsgfc        Y  02-02-2017 08:40

        updateddata
0  18-10-2017 12:12
1  18-10-2017 12:12
2  18-10-2017 12:12
3  18-10-2017 12:12
4  18-10-2017 12:12

In [10]:
print(transactions.head())

   transaction no  transaction date  customerno  amount  productno spendby
0               1  18-10-2017 12:31         923    2559        376    Card
1               2  18-10-2017 12:31         219    1706        151    Card
2               3  18-10-2017 12:31         927    3462        707    Cash
3               4  18-10-2017 12:31         806     865        539    Card
4               5  18-10-2017 12:31         958    2494         25    Card

In [ ]:
#Usecase-2 Display only those customers from CSV_s1, who purchased more than 3 products

In [11]:

x = pd.merge(products,transactions,on=['productno'])
y = pd.merge(customers,x,on=['customerno'])
print(y)

x = y.drop_duplicates(['customerno','productno'])
dict1 = dict(x['customerno'].value_counts())
df = pd.DataFrame([[i] for i in dict1],columns=['customerno'])
df['count'] = df['customerno'].map(dict1)
xyz = df[df['count'] >3]
print(xyz)

     customerno firstname  lastname gender  age profession  contactno  \
0             2      Judy     Burks      M   53          S      84759
1             2      Judy     Burks      M   53          S      84759
2             3    Marsha     Doyle      F   48          B      80932
3             4    Alexis    Battle      M   27          S      71701
4             4    Alexis    Battle      M   27          S      71701
..          ...       ...       ...    ...  ...        ...        ...
995         964     Jared  McDowell      M   57          S      81891
996         965      Rita    Bender      F   46          B      57356
997         965      Rita    Bender      F   46          B      57356
998         966     Myron     Blake      M   46          S      82675
999         967      Tina   Sargent      F   60          B      32097

                          emailid        city        state  ... productno  \
0          rfleming@hotma1l.co.uk     Suwanee       Trabue  ...       136
1          rfleming@hotma1l.co.uk     Suwanee       Trabue  ...       842
2            arethe53@ma1lbox.net       Perry    Moxadarla  ...       345
3              ofcame@ma1lbox.org      Morven       Dennis  ...       144
4              ofcame@ma1lbox.org      Morven       Dennis  ...       548
..                            ...         ...          ...  ...       ...
995    rescueship@everyma1l.co.uk    Glenwood  Billingsley  ...       144
996             itlost@ma1l2u.biz     Austell     Wheeling  ...       770
997             itlost@ma1l2u.biz     Austell     Wheeling  ...       893
998  librarysmoke@everyma1l.co.uk    Sycamore         Gant  ...        51
999          mhanson@somema1l.com  Blackshear        Traci  ...       962

    product name discription  isactive_y     createddata_y     updateddata_y  \
0     Product136  ecfldqedud           Y  29-01-2017 04:02  18-10-2017 12:12
1     Product842  pjcpkksaav           Y  09-08-2017 01:24  18-10-2017 12:12
2     Product345  trrctekfal           Y  17-06-2017 10:38  18-10-2017 12:12
3     Product144  vzibyompll           Y  07-02-2017 07:43  18-10-2017 12:12
4     Product548  wtxnnxgbia           Y  22-01-2017 12:24  18-10-2017 12:12
..           ...         ...         ...               ...               ...
995   Product144  vzibyompll           Y  07-02-2017 07:43  18-10-2017 12:12
996   Product770  xfqvudibgj           Y  22-09-2017 01:59  18-10-2017 12:12
997   Product893  pvaqivhklu           Y  25-02-2017 06:21  18-10-2017 12:12
998    Product51  iclqvipjvz           Y  06-02-2017 08:43  18-10-2017 12:12
999   Product962  omvcejeazp           Y  17-09-2017 01:47  18-10-2017 12:12

    transaction no  transaction date amount  spendby
0              423  18-10-2017 12:31   4245     Cash
1              973  18-10-2017 12:31   4717     Card
2              146  18-10-2017 12:31   1730     Card
3              620  18-10-2017 12:31   3926     Card
4              990  18-10-2017 12:31   1892     Cash
..             ...               ...    ...      ...
995             81  18-10-2017 12:31   3776     Cash
996            753  18-10-2017 12:31   1021     Cash
997            697  18-10-2017 12:31    817     Card
998            841  18-10-2017 12:31   4565     Card
999             40  18-10-2017 12:31   1260     Card

[1000 rows x 23 columns]
    customerno  count
0          391      5
1          241      5
2          167      4
3           86      4
4          326      4
5          321      4
6          356      4
7          237      4
8          537      4
9          558      4
10         578      4
11         187      4
12         709      4
13         735      4
14         753      4
15         828      4
16         331      4
17           4      4
18         989      4

In [12]:
#Usecase-3 Display top 5 most demanded products from CSV_

In [13]:

print(y.groupby("productno")["product name"].count().sort_values(ascending=[False]).head())

productno
82     5
768    5
900    5
427    5
233    4
Name: product name, dtype: int64

In [16]:
#Usecase-4 Display top 5 transactions amount from CSV_s1

In [18]:
print(y['amount'].sort_values(ascending=[False]).head())

669    4996
440    4992
285    4981
212    4980
276    4966
Name: amount, dtype: int64

In [19]:
#Usecase-5 Display distinct professions from CSV_s1

In [20]:
print(customers["profession"].unique())

['B' 'S']

In [21]:
#Usecase-6 Display highest age in CSV_s1 customerâ€™s dataset

In [22]:
print(x['age'].max())

64

In [23]:
#Usecase-7 Display custno, gender, age, profession, contactno, productno, productName,txndate, spendby, amount from CSV_s1 for custno =923

In [24]:
print(x.loc[x["customerno"]==923,["customerno","gender","age","profession","contactno","productno","product name","transaction date","spendby","amount"]])

     customerno gender  age profession  contactno  productno product name  \
929         923      F   46          B      25436        113   Product113
930         923      F   46          B      25436        376   Product376
931         923      F   46          B      25436        644   Product644

     transaction date spendby  amount
929  18-10-2017 12:31    Card    2303
930  18-10-2017 12:31    Card    2559
931  18-10-2017 12:31    Cash    4553

In [25]:
#Load all three PSV (pipe separated values) dataset in Pandas Data frames and display first 5 records

In [26]:
 
f = open("customers.txt", "r", )
line= 5
for x in range(line):
    a = f.readline()
    print(a)


print("--------------------")


f = open("customers.txt", "r")
line= 5
for x in range(line):
    b = f.readline()
    print(b)


print("--------------------")


f = open("transactions.txt", "r")
line= 5
for x in range(line):
    c = f.readline()
    print(c)

1|Leslie|Bass|F|27|B|37307|endslost@everyma1l.org|Gibson|Dellwood|Y|2017-09-21 12:38:22|2017-10-18 12:12:28

2|Judy|Burks|M|53|S|84759|rfleming@hotma1l.co.uk|Suwanee|Trabue|Y|2017-05-22 05:29:22|2017-10-18 12:12:28

3|Marsha|Doyle|F|48|B|80932|arethe53@ma1lbox.net|Perry|Moxadarla|Y|2017-09-03 12:11:29|2017-10-18 12:12:28

4|Alexis|Battle|M|27|S|71701|ofcame@ma1lbox.org|Morven|Dennis|Y|2017-02-16 04:05:35|2017-10-18 12:12:28

5|Martha|Combs|F|49|B|83947|camedied@everyma1l.us|Ocilla|Greenwood|Y|2017-05-15 07:34:35|2017-10-18 12:12:28

--------------------
1|Leslie|Bass|F|27|B|37307|endslost@everyma1l.org|Gibson|Dellwood|Y|2017-09-21 12:38:22|2017-10-18 12:12:28

2|Judy|Burks|M|53|S|84759|rfleming@hotma1l.co.uk|Suwanee|Trabue|Y|2017-05-22 05:29:22|2017-10-18 12:12:28

3|Marsha|Doyle|F|48|B|80932|arethe53@ma1lbox.net|Perry|Moxadarla|Y|2017-09-03 12:11:29|2017-10-18 12:12:28

4|Alexis|Battle|M|27|S|71701|ofcame@ma1lbox.org|Morven|Dennis|Y|2017-02-16 04:05:35|2017-10-18 12:12:28

5|Martha|Combs|F|49|B|83947|camedied@everyma1l.us|Ocilla|Greenwood|Y|2017-05-15 07:34:35|2017-10-18 12:12:28

--------------------
1|2017-10-18 12:31:45|923|2559|376|Card

2|2017-10-18 12:31:45|219|1706|151|Card

3|2017-10-18 12:31:45|927|3462|707|Cash

4|2017-10-18 12:31:45|806|865|539|Card

5|2017-10-18 12:31:45|958|2494|25|Card

In [27]:
# Load all three JSON datasets in Pandas Data frames and display first 5 records.

In [28]:
data_df=pd.read_json('customers.json', lines=True)
print(data_df.head(5))

print("   ------------------- ")

data_df=pd.read_json('products.json', lines=True)
print(data_df.head(5))

print("   ------------------- ")

data_df=pd.read_json('transactions.json', lines=True)
print(data_df.head(5))

   custno  firstname lastname  gender  age          profession      contactNo  \
0       1        Dai    Noble       2   53     Human Resources  1644101928099
1       2        Kay     Wise       2   26    Public Relations  1674031917099
2       3       Amir     Pace       1   43  Customer Relations  1636050509999
3       4  Sebastian    Lopez       2   32  Customer Relations  1666010108899
4       5      Brian   Maddox       1   40   Quality Assurance  1646080399299

                        emailId             city       state  isActive  \
0  eu.lacus.Quisque@loremac.com           Berlin      Berlin         1
1          ridiculus@Sednunc.ca        Oldenzaal  Overijssel         2
2    quam.Pellentesque@erat.edu          Cobourg     Ontario         2
3           magna@venenatis.net       Te Awamutu          NI         1
4         ac.facilisis@Duis.com  Greater Sudbury     Ontario         2

  createdDate UpdatedDate
0  2017-03-01  2018-08-25
1  2017-04-10  2018-08-30
2  2017-03-04  2018-09-18
3  2016-12-17  2018-09-12
4  2017-02-18  2018-05-13
   -------------------
   productno     productName Description  isActive createdDate UpdatedDate
0        100        Vauxhall        four         2  2016-11-21  2017-11-09
1        101          Toyota         six         2  2017-10-03  2017-11-13
2        102  General Motors         two         1  2017-09-18  2017-11-03
3        103         Renault       eight         2  2017-10-05  2017-11-13
4        104        Kenworth       three         1  2017-05-03  2017-11-04
   -------------------
   txnno     txndate  custno  amount  productno  spendby
0      1  2018-07-31      71     181         19        2
1      2  2017-04-02      44     401         48        2
2      3  2018-01-31      45    1808         44        2
3      4  2018-04-02      62      65         22        2
4      5  2017-08-17      88    1149         74        2

In [29]:
#Load all three XML datasets in Pandas Data frames and display first 5 records.

In [30]:
import xml.etree.ElementTree as ET
customers = ET.parse('customers.xml')
count = customers.getroot()

import xml.etree.ElementTree as ET
products = ET.parse('products.xml')
quality = products.getroot()

import xml.etree.ElementTree as ET
transactions = ET.parse('transactions.xml')
data = transactions.getroot()

In [31]:
print(count[0:5])

[<Element 'customer' at 0x7eff93a99630>, <Element 'customer' at 0x7eff93aa1c70>, <Element 'customer' at 0x7eff93aa31d0>, <Element 'customer' at 0x7eff93aa36d0>, <Element 'customer' at 0x7eff93aa3b80>]

In [32]:
print(quality[0:5])

[<Element 'product' at 0x7eff93a45400>, <Element 'product' at 0x7eff93a45680>, <Element 'product' at 0x7eff93a458b0>, <Element 'product' at 0x7eff93a45ae0>, <Element 'product' at 0x7eff93a45d10>]

In [33]:

print(data[0:5])

[<Element 'transaction' at 0x7eff93a5b630>, <Element 'transaction' at 0x7eff93a5b860>, <Element 'transaction' at 0x7eff93a5ba90>, <Element 'transaction' at 0x7eff93a5bcc0>, <Element 'transaction' at 0x7eff93a5bef0>]